= form_for([@car, @rental]) do |f|
  - if @rental.errors.any?
    #error_explanation
      %h2
        = pluralize(@rental.errors.count, "error")
        prohibited this rental from being saved:
      %ul
        - @rental.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :starts_on
    %br/
    = f.date_select :starts_on
  .field
    = f.label :ends_on
    %br/
    = f.date_select :ends_on
  .actions
    = f.submit
