%h1.text-center= @car.name
%p
  %strong Class:
  = @car.kind
%p
  %strong Price/day:
  = @car.price
  zł
%p= @car.description

%h3.text-center Rentals
%table.table.table-striped
  %th Starts on
  %th Ends on
  %th User email
  %th Price
  - @rentals.each do |rental|
    %tr
      %td= rental.starts_on
      %td= rental.ends_on
      %td= mail_to rental.user.email
      %td
        = rental.sum_price
        zł


.pull-right
  = link_to 'Back', cars_path, class: 'btn btn-default'
  - if user_signed_in?
    = link_to 'Edit', edit_car_path(@car), class: 'btn btn-info'
  = link_to 'Rent this car', new_car_rental_path(@car), class: 'btn btn-success'
